.style_pagination {
  position: fixed;
  right: 15%;
  top: 20%;
  padding: 10px;
  margin-top: 120px;

  .button_forward {
    margin-top: -55px;
    margin-right: 150px;
  }
}

.purchase__button {
  border: none;
  outline: none;
  background: white;
}

