.block {
  background: url(src/assets/img/bg_left.gif) repeat-y,
  #ffffff url(src/assets/img/bg_right.gif) repeat-y 100% 0;
  padding: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
