<div class="card mb-3">
  <div class="card-body">
    <h2 class="card-title" align="center"><p> Правила игры </p></h2>
    <p class="card-text">
      «Шляпа» — это игра для большой хорошей компании, в которую играют все вместе.<br>
      <b>Цель игры</b> – за ограниченное время объяснить партнёру или команде как можно больше слов вытянутых из
      шляпы.
    </p>
  </div>
  <div class="card-body">
    <h3 class="card-title" align="center"><p> Подготовка к игре </p></h3>
    Для игры в шляпу требуются:
    <ul>
      <li>Шляпа (можно использовать любой непрозрачный сосуд, например, кастрюля);</li>
      <li>Бумажки со словами для шляпы;</li>
      <li>Часы, чтобы засекать время.</li>
    </ul>
    <h3 class="card-title" align="center"><p> Игра </p></h3>
    <p class="card-text">
          <img class="card-img-top" src="../../../assets/img/players.jpg" width="200" class="rightimg" alt="">
      Игроки садятся вокруг стола (обычно — 6-10 человек). В шляпе находится некоторое количество слов, написанных на
      бумажках; игроки этих слов не знают. В каждый момент времени играют два человека — объясняющий и отгадывающий,
      остальные игроки ждут своей очереди и слушают.<br><br>
      Перед стартом каждого кона засекается время - обычно полминуты.<br>
      Объясняющий игрок по команде судьи достаёт из шляпы бумажку, читает написанное на ней слово (про себя) и объясняет
      это слово отгадывающему игроку, не используя слова, однокоренные загаданному, а также ненормативную
      лексику.<br><br>

      Отгадывающий игрок предлагает версии до тех пор, пока не назовёт загаданное слово. После этого объясняющий
      откладывает бумажку с ним в сторону, достаёт следующую бумажку и объясняет следующее слово.<br><br>

      Отгаданные слова в шляпу не возвращаются. По истечении времени судья останавливает игру. Если слово не отгадано,
      то объясняющий возвращает бумажку в шляпу, не сообщая игрокам и зрителям загаданного слова. После этого шляпа
      переходит к следующему по часовой стрелке игроку.<br>
      Игра заканчивается, когда в шляпе не остается бумажек. Победителем становится команда, отгадавшая больше слов.
    </p>
  </div>
</div>
